<p>Nur oben genannten Verwendungszweck nutzen um Verzögerungen und Fehler zu vermeiden.</p>
<h2>Bankdaten:</h2>
<table border="0" cellpadding="0">
    <tbody>
        <tr>
            <td align="left">Inhaber:</td>
            <td align="right">$BankAccountOwner</td>
        </tr>
        <tr>
            <td align="left">Institut:</td>
            <td align="right">$BankName</td>
        </tr>
        <tr>
            <td align="left">IBAN:</td>
            <td align="right">$BankIban</td>
        </tr>
        <tr>
            <td align="left">BIC/SWIFT</td>
            <td align="right">$BankSwift</td>
        </tr>
    </tbody>
</table>