{% set lang           = prepayment.sessionStorage.getLang() %}
{% set designatedUse  = prepayment.settings.getSetting('designatedUse', lang) %}
<hr>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("PrePayment::PaymentMethod.designatedUse") }}</strong>
    <span class="col-xs-6 col-sm-7">{{ trans("PrePayment::PaymentMethod.designatedUseText") }}<br /> <b>{{ designatedUse }}</b></span>
</div>

