<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">

    $(function () {
        if ($("#prePaymentModal").data("modal-loaded") == true)
        {
            // Modal is already loaded
        }
        else
        {

            $("body").append(" " +

                "<div class=\"modal fade in\" id=\"prePaymentModal\" data-backdrop=\"static\"> " +
                "<div class=\"modal-dialog\" role=\"dialog\">"+
                "<div class=\"modal-content\">"+

                "</div>" +
                "</div>" +
                "</div>");

            $("#prePaymentModal").data("modal-loaded", true);
        }

    });

    //Load the modal content
    function loadPrePaymentModal(bankDetails)
    {
        $("#prePaymentModal .modal-content").html("Loading ...");

        $.get("/payment/prepayment/bankdetails", function(data)
        {
            $('#prePaymentModal .modal-content').html(data);
        });
    }


    document.addEventListener('historyPaymentMethodChanged', e => {
        for (let property in e.detail.newOrder.order.properties) {
            if (e.detail.newOrder.order.properties[property].typeId === 3) {
                if (e.detail.newOrder.order.properties[property].value == {{ paymentMethodId }}) {
                    document.getElementById("reinitPrePayment-" + e.detail.oldOrder.id).style.display = "block";
                } else {
                    document.getElementById("reinitPrePayment-" + e.detail.oldOrder.id).style.display = "none";
                }
            }
        }
    });

</script>
