<div>
    Die Versandabwicklung der Bestellung erfolgt erst nach Zahlungseingang
</div>
<div>
    <span>Bitte geben Sie folgenden Verwedungszweck an:</span>
    <span>ORDER {{ orderId }}</span>
</div>

