{% set orderConfirmationText = config("PrePayment.orderConfirmationText") %}
<hr>
<div class="row">
    <strong class="col-xs-6 col-sm-5">{{ trans("PrePayment::PaymentMethod.transferReason") }}</strong>
    <span class="col-xs-6 col-sm-7">{{ trans("PrePayment::PaymentMethod.transferReasonText") }}<br /> <b>{{ orderConfirmationText }}</b></span>
</div>

