{% set orderConfirmationText = config("PrePayment.orderConfirmationText") %}
<hr>
<div class="row">
    <strong class="col-xs-6 col-sm-5">Verwendungszweck</strong>
    <span class="col-xs-6 col-sm-7">Die Versandabwicklung der Bestellung erfolgt erst nach Zahlungseingang. Bitte geben Sie folgenden Verwendungszweck an:<br /> <b>{{ orderConfirmationText }}</b></span>
</div>

